/* NOT FOUND PAGE (404) */

.error-page {
	text-align: center;
	padding: 50px;
}

.error-header {
	font-weight: 600;
	font-size: 24px;
	margin: 20px 0 0;
}

.error-type {
	font-weight: 700;
	font-size: 145px;
	color: #222;
}

.error-text {
	font-weight: 300;
	font-size: 24px;
}


/* GENERAL */

button, input, optgroup, select, textarea {
	border: 1px solid #d8d8d8;
	border-radius: 3px;
}

button, input[type=submit] {
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
}

button:hover, input[type=submit]:hover {
	background-color: #4a4a4a;
}

button:active, input[type=submit]:active {
	padding-top: 1px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

.center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.column-small {
	flex: 0 0 200px;
}

.column-half {
	flex: 0 0 50%;
}

.column-full {
	flex: 1;
}

.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
}

.pagination li {
	margin: 0 10px;
}

.pagination a {
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	padding: 6px 12px;
}

.pagination a:hover {
	background-color: #ee3739;
	text-decoration: none;
}

.pagination .active a {
	background-color: #ee3739;
}

/* HEADER */

.page-header {
	border-bottom: 1px solid #e5e5e5;
}

.page-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px;
}

.page-header a {
	color: #222;
}

.logo {
	font-weight: 800;
	font-size: 1.8rem;
	line-height: 1;
	letter-spacing: -0.05em;
}

.logo:hover {
	text-decoration: none;
}

.page-nav a {
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 20px;
}

.user-border {
	padding: 8px 10px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

/* only for main page header */

.main-page-header {
	position: absolute;
	width: 100%;
	background-color: #fff;
}

.main-page-header .container {
	width: 100%;
}


/* MAIN */

.page-main {
	background: url(../images/page-main.jpg);
	background-size: cover;
}

.page-main .container {
	display: flex;
	padding: 60px 15px;
	background-color: #fff;
}

.home-page .container {
	margin-top: 200px;
	padding: 60px 15px 15px;
	background-color: #fffffff0;
	border-radius: 5px;
}

.home-page .content-item {
	margin-top: 0;
}



.home-page .row {
	justify-content: space-around;
}

.home-page form {
	margin: 40px;
}

.home-page input[type=text] {
	margin-bottom: 10px;
}

.home-page input[type=submit] {
	margin: 40px auto;
	font-size: 20px;
	width: 125px;
}

.home-page h1 {
	padding-top: 30px;
	padding-bottom: 0 !important;
}

.page-selection .container {
	background: none;
}

.page-selection h1 {
	font-size: 30px !important;
	line-height: 1.5 !important;
	text-align: center;
	padding: 0 20px 10px !important;
}

.page-selection form {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	padding: 40px;
}

.selection-list .content-title {
	border-radius: 3px 3px 0 0;
}

.selection-list .objects-list {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 0 0 3px 3px;
}

.short-button {
	width: auto;
	padding: 0 34px;
}

.recommendations {
	text-align: center;
}

.recommendations .content-item {
	margin-top: 0;
}

.recommendations h1 {
	line-height: 1.5 !important;
}

.recommendations h2{
	margin: 0 auto;
}

.recommendations button,
.recommendations input[type=submit] {
	margin: 0 auto;
	font-size: 20px;
}

/* Object */

.object-item {
	max-width: 560px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin: 0 20px 40px;
}

.small-object {
	max-width: 350px;
}

.object-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background-color: #eee;*/
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
	
}

.object-title {
	display: grid;
	color: #ee3739;
}

.object-title h2 {
	font-size: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
}

.object-rating {
	display: inline-block;
	font-weight: 700;
	background-color: #393;
	color: #fff;
	border-radius: 20px;
	min-width: 45px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin-left: 10px;
}

.object-image {
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
}

.object-image img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.object-description {
	font-size: 14px;
	padding: 20px;
}

.object-description .column-small {
	flex: 0 0 140px;
	color: #999;
}

.object-description .column-full {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* LOGIN / REGISTER */

.page-auth .container {
	background: none;
}

.auth-block {
	width: 440px;
	margin: 50px auto 0;
	padding: 40px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.auth-block input {
	margin-bottom: 20px;
}

.auth-block input[type=submit] {
	margin-top: 10px;
}

.help-links {
	margin: 10px 0;
	list-style: none;
	text-align: center;
}

.help-links li {
	margin-bottom: 15px;
}

.help-links a {
	font-size: 15px;
	color: #888888;
}

.auth-title {
	text-align: center;
	margin-top: 55px;
	margin-bottom: 40px;
	font-weight: 800;
	font-size: 36px;
}

.form-text a {
	font-weight: 600;
}

.form-error {
	font-weight: 600;
	font-size: 15px;
	color: #cb2431;
	text-align: left;
	margin-top: 10px;
}

.auth-block .form-error {
	margin: 0 0 20px;
}


/* USER */

/* side navigation */

.side-navigation-section {
	display: block;
	flex: 0 0 300px;
}

.side-navigation {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-bottom: 40px;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.nav-list li {
	width: 100%;
	border-top: 1px solid #e5e5e5;
}

.nav-list li:first-child {
	border: none;
}

.nav-list li a {
	display: block;
	color: #242424;
	text-decoration: none;
	padding: 15px 20px;
}

.nav-list li a:hover {
	background-color: #f5f4f4;
}

.nav-list li.active a {
	background-color: #f5f4f4;
	font-weight: 700;
}


/* content */

.content-section {
	display: block;
	flex-grow: 1;
	padding-left: 45px;
}

.full-content-section {
	display: block;
	flex-grow: 1;
}

.content-section h1,
.full-content-section h1 {
	font-weight: 800;
	font-size: 35px;
	line-height: 1;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.content-item {
	margin-top: 30px;
}

.objects-list {
	display: flex;
	flex-wrap: wrap;
}

.content-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
	background-color: #f5f4f4;
	border-radius: 3px;
	text-transform: uppercase;
}

 .content-title h2 {
	font-weight: 700;
	font-size: 20px;
} 

.content-title button {
	height: 30px;
	font-weight: bold;
}

.content-title a {
	font-weight: 700;
	font-size: 14px;
}

.content-title a:hover {
	color: #f5a51996;
	text-decoration: none;
}

.content-title a > span {
	display: inline-block;
	transform: rotate(90deg);
}

.content-body {
	padding: 20px;
}

.content-body .row {
	margin-bottom: 10px;
}

.content-body .row:last-child {
	margin-bottom: 0;
}

.label {
	font-weight: 600;
	font-size: 14px;
	overflow-wrap: normal;
	line-height: 26px;
}

.change-success {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}

.change-success span {
	color: #28a745;
}

.table-link {
	color: inherit;
}

/* Admin */

.admin-form label {
	display: inline-block;
	font-weight: 600;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 8px;
}

.admin-form label:first-child {
	margin-top: 0;
}

.admin-form .checkbox-label {
	font-weight: normal;
	font-size: 1rem;
	margin: 0;
}

.admin-form .checkbox-item {
	display: inline-block;
	width: 49%;
}

.admin-form details, 
.admin-form summary {
	outline: none;
	cursor: pointer;
}

.admin-form label > span {
	font-size: 14px;
	color: #aaa;
}

.admin-form input[type=submit] {
	margin-top: 30px;
}

.admin-form .selected-image {
	display: block;
	height: 150px;
	margin: 20px;
	cursor: pointer;
}

.admin-search {
	display: flex;
	padding: 25px 0;
}

.admin-search input {
	width: 250px;
	height: 35px;
}

.admin-search input[type=submit] {
	width: 120px;
	margin-left: 10px;
}

.color-edit {
	color: #f5a519;
}

.color-delete {
	color: #ee3739;
}


/* OBJECT VIEW */

.object-view .container {
	display: flex;
	flex-direction: column;
}

.object-view .header-object {
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.object-view .content-item {
	border: 1px solid #e5e5e5;
	border-top: none;
	margin-top: 0;
}

.title-object {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.title-object button {
	padding-left: 20px;
	padding-right: 20px;
}

.object-view h1 {
	font-weight: 700;
	font-size: 30px;
	line-height: 1.5;
	padding-bottom: 0;
	text-transform: none;
}

.object-view h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.foto img {
	max-height: 400px;
	width: 100%;
	object-fit: cover;
}

.object-view .description {
	margin-bottom: 40px;
}

.main-info-line:nth-child(odd) {
	background: #F8F8F8;
}

.main-info-line {
	display: flex;
	padding: 8px 16px 8px 8px;
}

.main-info-title {
	font-size: 15px;
	min-width: 160px;
	padding-left: 12px;
	border-right: 1px solid #333;
}

.main-info-content span {
	font-weight: 600;
	font-size: 15px;
	padding-left: 10px;
}

/* Comment */

.object-view .comment {
	border-top: 1px solid #e5e5e5;
	margin-top: 40px;
}

.comment form {
	max-width: 880px;
	margin-top: 15px;
}

.comment textarea {
	border: 1px solid #e0e0e0;
}

.comment textarea::placeholder {
	font-size: 15px;
	color: #aaa;
}

.comment input[type=submit] {
	width: auto;
	margin-top: 15px;
	cursor: pointer;
}

.gray-block {
	display: flex;
	align-items: center;
	background-color: #f8f8f8;
	padding: 15px;
	font-size: 15px;
	margin-bottom: 10px;
}

.gray-block strong {
	margin-right: 20px;
}

.rating, .rating li, .rating ul {
	display: inline-block;
}

.rating a {
	font-size: 20px;
	opacity: 0.7;
	color: #aaa;
}

/* Comments */

.comments-title {
	display: flex;
	align-items: center;
}

.comments-title h2 {
	margin: 0;
}

.comments-count {
	font-size: 20px;
	color: #757575;
	margin-left: 5px;
}

.comment-item {
	padding: 20px 0;
	border-bottom: 1px solid #e5e5e5;
}

.comment-item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.comment-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.author-info {
	display: flex;
	align-items: center;
}

.author-name {
	font-weight: 600;
	margin-right: 12px;
}

.comment-actions {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.comment-date {
	color: #606060;
}

.comment-actions a {
	color: #606060;
	margin-right: 12px;
}

.author-rating a {
	font-size: 16px;
	opacity: 1;
	color: #f5a519;
}

.author-rating .gray {
	color: #ccc;
}

.content-text {
	font-size: 15px;
}

.comment button {
	margin-top: 20px;
}